@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
  background-color: rgb(37, 37, 37);
  color: white;
  font-family: 'Inter', sans-serif;
  padding: 0%;
  margin: 0%;
}

body {
  padding: 0%;
  margin: 0%;
}

.banner {
  height: 100Vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('../img/HighresScreenshot00009.png');
  background-color: rgba(0, 0, 0, .2);
  background-blend-mode: multiply;
  transition: all 1s;
}

nav {
  top: 0;
  width: 100%;
  height: max-content;
  display: flex;
  flex: auto;
  padding: 0;
  margin: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0);
  position:fixed;
  transition: all 0.25s;
}
  
nav ul {
  margin: 0%;
  padding: 0%;
}

.navLogo {
  display: flex;
  flex: auto;
  z-index: 0;
  float: left;
  padding: 7px;
}

nav li {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 16px;
  width: max-content;
  height: 100%;

}

nav li a {
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  text-decoration: none;
  text-align: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: max-content;
}

nav li a:hover {
  background-color: #111;
}

footer {
  text-align: center;
  background-color: #111;
}

nav ul {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

nav ul .navItem {
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
}

.navLogoImg {
  padding: 0%;
  margin: 0%;
  height: 45px;
  width: 45px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

h1 {
  margin: auto;
}

.tipText {
  padding-left: 10px;
}
